:root{
	--slide_width: 640px;
	--slide_height: 480px;
}

body{
	display: grid;
	align-items: center;
	justify-items: center;
}

#slider{
	position: relative;
	overflow: hidden;
	overflow-x: hidden;
	border: 2px black solid;
	width: var(--slide_width);
	height: var(--slide_height);
	background: grey;
	z-index: -420;
}

#slider > *{
	position: absolute;
}

.mock-img{
  width: var(--slide_width);
  height: var(--slide_height);
  display: grid;
  align-items: center;
  justify-items: center;
}

.animated{
	animation-delay: 5s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-name: cycleOne;
}
@keyframes cycleOne{
	0%{
		z-index: 100;
	}
	90%{
		transform: translate(calc(var(--slide_width)*1.1));
	}
	100%{
		z-index: 0;
	}
}
